body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #fbebd4, #fbebd4);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: #333;
}

h1 {
    color: #000000;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #000000;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
}

button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}
